/* style already included in the challenge */
.attribution {
  font-size: 11px;
  text-align: center;
}


/* personnal additions to the style */

/**************
* Organisation
***************/

/* general page organisation */
body {
  display: flex;
  flex-direction: column;
  padding: 1em;
}


main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  main {
    flex-wrap: wrap;
  }
}




/* first half (images) organisation */
.images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.images img {
  padding: 1em;
}

#huddle_logo {
  align-self: flex-start;
  width: 25%;
}

@media screen and (max-width: 1000px) {
  #mockups {
    width: 90%;
  }
}



/* second half (presentation) organisation  */
.presentation {
  padding: 2em;
}
@media screen and (max-width: 1000px) {
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* footer organisation */

@media screen and (min-width: 1000px) {
  footer {
    align-self: flex-end;
  }
}

.social_media {
  display: flex;
  justify-content: center;
}

.icon {
  margin-left: 1em;
}


/**********
*  Style
********** */

/* whole page */
body {
  background: hsl(257, 40%, 49%) url("../images/bg-desktop.svg") center/cover;

  color: white;
  font-family: "Open Sans";
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  body {
    background: hsl(257, 40%, 49%) url("../images/bg-mobile.svg") center/contain no-repeat;
  }
}


/* presentation */
.presentation h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.5em;
}

@media screen and (max-width: 1000px) {
  .presentation {
    text-align: center;
  }
}

.text {
  line-height: 1.5em;
}

/* button styling  */
.button {
  background: white;
  width: 10em;
  padding: 1em;
  border-radius: 3em;
  box-shadow: 2px 2px 10px hsl(257, 40%, 20%);

  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .button {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.button:hover {
  box-shadow: 0px 0px 10px white;
}

.button:active {
  box-shadow: 0px 0px 0px 3px hsl(257, 40%, 10%);
}

.button a {
  color: hsl(257, 40%, 49%);
  text-decoration: none;
}

a {
  color: inherit;
}

/* icons */
.icon img {
  width: 1em;
  border: 1px solid white;
  padding: 0.5em;
  border-radius: 1em;
}
.icon img:hover {
  box-shadow: 0px 0px 5px  white;
}
