/* pour écraser le style général */
main {
  padding: 0;
}

main section {
  padding: 10%;
}

/* bannière du haut */
.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    text-align: center;
}

.banner h1 {
  font-size: 3em;
}

.banner p {
    font-style: italic;
}

/* présentation texte courte */
#presentation {
    display: flex;
    justify-content: space-around;
}

#presentation img, #presentation div {
    flex-grow: 1;
}

/* photos de produits */
#gammes {
    text-align: center;
}

#gammes h2{
  font-size: 3em;
}

#gammes h3 {
  padding: 1em;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}

.catalog {
  display: flex;
  justify-content: center;
}

.catalog img {
  width: 60%;
  transition: width 0.5s;
}

.catalog img:hover {
  width: 80%;
}
