/* pour diviser l'écran en deux */
main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

article {
  width: 80%;
}


/* pour styliser les liens vers les autres articles */
aside {
  background-color: white;
  border-radius: 25px;
}

#article_link1, #article_link2 {
  border-radius: 25px;
  height: 10em;
  width: 10em;
  background-size: cover;
  overflow: hidden;

  text-shadow: 0px 0px 3px white;

  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

#article_link1 a, #article_link2 a {
  display: block;
  margin: 1em;
}
