h1 {
  font-size: xxx-large;
}

.collapse_icon {
  margin: 0;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.shutter {
  margin: 1em;
  /* so it's hidden by default */
  display: none;
}

.collapsable_text {
  max-height: 50em;
  overflow: hidden;
  transition: max-height 0.4s;
}
